/vision/venv
/vision/.env
/vision/faiss_index.index
/vision/temp.csv
/vision/__pycache__
/frontend/porepal-frontend/api/__pycache__
/frontend/porepal-frontend/api/venv
/node_modules/
/frontend/porepal-frontend/node_modules/
/frontend/porepal-frontend/.vercel/
/frontend/porepal-frontend/vercel.json/
/vision/vision_deploy/.env
/.vercel/
/vision/vision_deploy/venv/
/frontend/porepal-frontend/.env.local